<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
    rel="stylesheet">    
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="../public/images/logo2.png">
                    <h2>e-<span class="danger">workout</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="#" class="active">
                    <span class="material-icons-sharp">
                        grid_view
                        </span>
                    <h3>Main</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        collections
                        </span>
                    <a href="/exercises&limit=10&skip=10"><h3>Gallery</h3></a>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        list
                        </span>
                    <h3>All Workouts</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        insert_emoticon
                        </span>
                    <h3>About</h3>
                </a>
            </div>
        </aside>
        <!------------------------------------END OF ASIDE------------------>
        
        <!------------------------------------MAIN------------------>
        <main>
            <h1>Main</h1>
             <!----------GOALS------------------>
            <div class="goals">
                <div class="sales">
                    <span class="material-icons-sharp">
                        analytics
                    </span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total weekly callories</h3>
                            <h1>#43245434</h1>
                        </div>
                        <div class="progress">

                        </div>
                    </div>
                </div>

                <div class="sales2">
                    <span class="material-icons-sharp">
                        directions_run
                    </span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total weekly running distance</h3>
                            <h1>#43245434</h1>
                        </div>
                        <div class="progress">
                        </div>
                    </div>
                </div>
            </div>
             <!----------WORKOUTS------------------>
            <div class="recent-workouts">
                <h2>Last Week Workouts</h2>
                <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Workout Name</th>
                            <th>Type</th>
                            <th>Muscle Group</th>
                            <th>Calories</th>
                            <th>Weight</th>
                            <th>Reps</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% exercises.forEach(function(exercise){ %>
                            <tr>
                                <td><%= exercise.name %></td>
                                <td><%= exercise.type %></td>
                                <% if (!exercise.muscleGroup){ %>
                                    <td>-</td>
                                <% } else {%>
                                    <td><%= exercise.muscleGroup %></td>
                                <% } %>
                                <% if (!exercise.calories){ %>
                                    <td>-</td>
                                <% } else {%>
                                    <td><%= exercise.calories %></td>
                                <% } %>
                                <% if (!exercise.weight){ %>
                                    <td>-</td>
                                <% } else {%>
                                    <td><%= exercise.weight %></td>
                                <% } %>
                                <% if (!exercise.reps){ %>
                                    <td>-</td>
                                <% } else {%>
                                    <td><%= exercise.reps %></td>
                                <% } %>
                                <td><%= exercise.createdAt.toLocaleDateString('en-CA') %></td>
                                <td class="primary"> <a href="javascript:void(0)" onclick="openModal('<%= exercise._id %>')">Details </a></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
                </div>
                <a href="#">Show All</a>
            </div>
        </main>
        <!------------------------------------END OF MAIN------------------>

        <!------------------------------------DETAILS Modal------------------>
        <div id="detailsModal" class="modal">
            <div class="modal-overlay" id="modalOverlay"></div>
            <div class="modal-content">
                <span class="close" id="closeModal" onclick="closeModal()">&times;</span>
                <h2>Workout Details</h2>

                <form id="detailsForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select id="type" name="type">
                            <option value="Cardio">Cardio</option>
                            <option value="Strength">Strength</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="muscleGroup">Muscle Group</label>
                        <input type="text" id="muscleGroup" name="muscleGroup">
                    </div>
                    <div class="form-group">
                        <label for="duration">Duration</label>
                        <input type="text" id="duration" name="duration">
                    </div>
                    <div class="form-group">
                        <label for="calories">Calories</label>
                        <input type="number" id="calories" name="calories">
                    </div>
                    <div class="form-group">
                        <label for="weight">Weight</label>
                        <input type="number" id="weight" name="weight">
                    </div>
                    <div class="form-group">
                        <label for="reps">Reps</label>
                        <input type="number" id="reps" name="reps">
                    </div>
                    
                    <div class="modal-actions">
                        <button type="button" class="update-btn" id="updateWorkout">Update</button>
                        <button type="button" class="delete-btn" id="deleteWorkout">Delete</button>
                    </div>
                </form>
            </div>
        </div>
        <!------------------------------------END OF DETAILS Modal------------------>

        <!----------RIGHT------------------>
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
            </div>
             <!----------END OF TOP------------------>
            <!--<div class="gallery">
                <h2>Gallery</h2>
                <div class="images">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    </p>
                </div>
            </div>-->
             <!----------END OF GALLERY------------------>

             <!----------CREATE WORKOUT------------------>
                <div class="create-form">
                    <h2>Create a New Workout</h2>
                    <form id="workoutForm" action="/exercises" method="POST">
                        <div class="form-groupCreate">
                            <label for="name">Workout Name</label>
                            <input type="text" id="name" name="name" placeholder="..." required>
                        </div>
                        <div class="form-groupCreate">
                            <label for="typeCreate">Type</label>
                            <select id="typeCreate" name="type">
                                <option value="Strength">Strength</option>
                                <option value="Cardio">Cardio</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-groupCreate">
                            <label for="muscleGroup">Muscle Group</label>
                            <input type="text" id="muscleGroup" name="muscleGroup" placeholder="...">
                        </div>
                        <div class="form-groupCreate">
                            <label for="duration">Duration</label>
                            <input type="text" id="duration" name="duration" placeholder="min">
                        </div>
                        <div class="form-groupCreate">
                            <label for="calories">Calories (optional)</label>
                            <input type="number" id="calories" name="calories" placeholder="cal">
                        </div>
                        <div class="form-groupCreate">
                            <label for="weight">Weight (optional)</label>
                            <input type="number" id="weight" name="weight" placeholder="kg">
                        </div>
                        <div class="form-groupCreate">
                            <label for="reps">Reps (optional)</label>
                            <input type="number" id="reps" name="reps" placeholder="reps">
                        </div>
                        <button type="submit" class="add-btn">Add</button>
                    </form>
                </div>
        </div>
    </div>
    <script src="/js/modal.js"></script>
</body>
</html>