extends ../layouts/navigation
block styles
    link(rel="stylesheet", href="../css/training.css")

block content
    main
        div.grid
            if workouts.length > 0
                each workout in workouts
                    article.card.training-item
                        header.card__header
                            h1.training__exerciseTitle #{workout.exerciseTitle}
                        div.card__image
                            img(src="#{workout.exerciseImage}", alt="Training")
                        div.card__content
                            h2.training__reps Reps: #{workout.exerciseReps}
                            h2.training__sets Sets: #{workout.exerciseSets}
                            h2.training__muscleGroup Muscle group: #{workout.exerciseMuscleGroup}
                            p.training__note Note: #{workout.exerciseNote}
                        div.card__actions
                            a(href=`/admin/edit-workout/${workout.workoutId}?edit=true`, class="btn") Edit
                            form.training-form(action="/admin/delete-workout", method="POST")
                                input(type="hidden", value=`${workout.workoutId}`, name="workoutId")
                                button(type="submit" class="btn") Delete
            else
                h1 No trainings

